<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div *ngFor="let tab of config?.field_groups; trackBy: trackByGroup" class="card">
		<div class="card-body">
			<h5 class="card-title text-center">{{tab.label}}</h5>
			<div *ngFor="let field of tab.fields; trackBy: trackByField" class="form-group">
				<label [for]="field.slug">{{field.label}}</label>

				<ng-container [ngSwitch]="field.type">
					<select *ngSwitchCase="fieldTypes.DROPDOWN"
					        [ngClass]="field.metadata.class"
					        [id]="field.slug"
					        [formControlName]="field.slug"
					        [class.is-invalid]="isInvalidField(field.slug)"
					        class="custom-select"
					>
						<option value="" disabled selected>{{field.placeholder}}</option>
						<option *ngFor="let option of field.datasource.options" [value]="option.slug">{{option.label}}</option>
					</select>
					<div *ngIf="isInvalidField(field.slug)" class="invalid-feedback">
						<div *ngIf="form.get(field.slug).hasError('required')">Field is required</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
	<div class="mt-3">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>


